<header>
    <div>
        <a href="{LANG_LINK}">Home</a>
        <a href="{LANG_LINK}portfolio">Projects Catalog</a>
        <a href="{LANG_LINK}portfolio/project-a">Project A</a>
        <a href="{LANG_LINK}portfolio/project-b">Project B</a>
        <a href="{LANG_LINK}portfolio/project-c">Project C</a>
    </div>
    <div>
        <a href="{SITE_LINK}">ua</a>
        <a href="{SITE_LINK}ru">ru</a>
        <a href="{SITE_LINK}en">en</a>
    </div>
</header>
<style>
    header{
        padding: 20px 15px;
        background: #eee;
        margin-bottom: 65px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    a{
        margin-right: 15px;
        font-size: 14px;
        color: blue;
        text-decoration: none;
    }
    a:last-of-type{
        margin-right: 0;
    }
</style>